{
    "user": "your_user",
    "privateKey": "/Users/dev/.ssh/id_rsa",
    "envMaster": "/Users/dev/env_master",
    "services": [
        {
            "name": "some_service_1",
            "host": "0.0.0.0",
            "env": "/home/dev/www/some_service_1/source/.env",
            "preCommand": "tail /home/dev/www/some_service_1/source/.env"
            "postCommand": "tail /home/dev/www/some_service_1/source/.env"
        },
        {
            "name": "some_service_2",
            "host": "0.0.0.0",
            "env": "/home/dev/www/some_service_2/source/.env",
            "preCommand": "tail /home/dev/www/some_service_2/source/.env"
            "postCommand": "tail /home/dev/www/some_service_2/source/.env"
        }
    ]
}